.nepHCMReminderList {
    margin: .75rem 1rem;
}
.nepHCMReminderListTitle {
    font-size: .75rem;
    margin-bottom: 0.5rem;
}
.nepHCMReminderListAction {
    font-size: 1rem;
    font-weight: bold;
}
.nepHCMReminderListAction .sapMBtn {
    width: 120px;
}
.nepHCMReminderListAction .sapMBtnInner {
    border-radius: 2rem;
}
