.nepHCMFeed .sapMCrslInner {
    transition-duration: 0.001s;
}
@media (max-width: 1024px) {
    .nepHCMFeed .sapMCrslInner {
        transition-duration: 0.001s;
    }
}
.nepHCMFeedContent {
    margin: 1rem 1rem 0.5rem 1rem;
}
.nepHCMFeed {
    // height: 600px;
}
.nepHCMFeedItem .sapMImg {
    // max-height: 356px;
}
.nepHCMFeedTitle.sapMText {
    // font-weight: bold;
    // margin-bottom: .25rem;
}
.nepHCMFeedText.sapMText {
    // font-size: .75rem;
}
.nepHCMFeedContent .nepTileFooter .sapMText {
    // font-weight: normal;
    // font-size: .75rem;
}
.nepHCMFeedContent .nepTileFooter {
    // margin-top: .75rem;
}